*{ margin: 0px;}
/** Para este font se aplican abreviaciones para reducir tamaño de codigo */
h1 {font: bold 25px verdana, sans-serif;}
h2 { font: bold 14px verdana, sans-serif; }
/** las etiquetas siguetes deben ser mostradas como dysplay como bloques..con propiedades especificas */
header, section, footer, aside, nav, article, figure, figcaption, hgroup{ display: block; }
/** text{aling alinea le texto dento del boby */
body { text-align: center;}
/*! # busca medinate l e identificador id */
#group-elements{ margin: 15px auto;text-align: left;width: 960px; }



#span-title { font:bold 36px verdana, sans-serif; text-shadow: rgb(150, 72, 0) 10px 33px 5px; }

#menu { background: #58f071; padding: 6px 15px; }
#menu li { display: inline-block; font: bold 16px verdana, sans-serif; list-style: none; padding: 6px; }

#section-content { float: left; margin: 20px; width: 660px; }
#aside-column { background: #9ebea0; float: left; margin: 20px 0px; padding: 20px; width: 220px; }
#footer-foot{ clear: both; text-align: center; padding: 20px; border-top: 3px solid #1b9104;}

article {background: #bbffdd; border: 2px solid #000000; padding: 20px; margin-bottom: 15px; }
article footer { text-align: right; } time { color: #000000; } 
figcaption { font: italic 14px verdana, sans-serif; }

#header-title { background: #117c11; border: 1px solid #0c110f; display: block; margin: 10px auto; padding: 20px; text-align: center; -moz-border-radius: 20px / 10px; -webkit-border-radius: 20px / 10px; border-radius: 20px / 10px; -moz-box-shadow: rgb(150,150,150) 5px 5px 10px; -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px; box-shadow: rgb(150,150,150) 5px 5px 10px;
    background: -webkit-radial-gradient(center,circle,#da1616 0%, #006699 200%);
    background:     -moz-radial-gradient(center,circle,#da1616 0%, #006699 200%);
transform: translateY(100px) rotate(45deg) scaleX(0.3);}
#header-title:hover{ -moz-transform: rotate(5deg); -webkit-transform: rotate(5deg); }
    
